body.bg-tropical-3{
	background-image: url('/sl-template/default5/assets/img/bg-tropical-3.jpg');
}

body.bg-tropical-2{
	background-image: url('/assets/images/bg-tropical-2.jpg');
}
body.bg-118{
	background-image: url('/bo-resources/images/bg/bg_118-1080.jpg');
}
body.bg-049{
	background-image: url('/bo-resources/images/bg/bg_049-1080.jpg');
}
body { 
	background-position: center;
}