<html><head><script type="text/javascript">
                                        function delayer(){window.location = "https://www.FurnitureAppOnline.com/pages/apply-now"}
                                        </script></head><body onLoad="setTimeout('delayer()', 3000)">
                                       <h2>Thank you for submitting your information to FurnitureAppOnline.com...you will be redirected in 5 seconds or
                                        <a href="http://www.furnitureapponline.com">Click Here</a></h2></body></html>
