<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>White Rose Taxi</title>
	<link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/1490/7900/t/3/assets/simple.min.css" />
	<link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/1490/7900/t/3/assets/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>	
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script type="text/javascript" src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<style>
		[data-role=page]{height: 100% !important; position:relative !important;}
		[data-role=footer]{bottom:0; position:fixed !important; top: auto !important; width:100%;}
	</style>
	
	<script>
	
	var orderId = '', socket, dispatch;
	dispatch = io.connect('http://taxi-taximobile.7e14.starter-us-west-2.openshiftapps.com/dispatch');
	socket = io.connect('http://taxi-taximobile.7e14.starter-us-west-2.openshiftapps.com');
	
	function uid() {
		  // Math.random should be unique because of its seeding algorithm.
		  // Convert it to base 36 (numbers + letters), and grab the first 9 characters
		  // after the decimal.
		  return new Date().getTime() + '_' + Math.random().toString(36).substr(2, 9);
		}
		
		function QueryStringToJSON(data) {            
			var pairs = data.split('&');
			
			var result = {};
			pairs.forEach(function(pair) {
				pair = pair.split('=');
				result[pair[0]] = decodeURIComponent(pair[1] || '');
			});

			return JSON.parse(JSON.stringify(result));
		}
		
		
		
		function setOrderId(id){		
			orderId = id;		
		}	
			
			dispatch.emit('init', 'New Dispatcher Connected');											
			dispatch.on('init',function(data){				
				console.log(data);
				$('#statusFooter').html('Connection Established!');				
			});
			
			dispatch.on('cancel',function(data) {
					console.log('Cancel Request Received from: ' + '#' + data);					
					
					if($('#' + data).length){
						//console.log('Cancel Request Received');
						$('#' + data + ' .status').html('Cancelled').css('background-color', 'red').css('color', 'white');
						//setUid();
					}				
				});
			
			dispatch.on('order',function(data){
				console.log(data);
				$('#statusFooter').html(data);
				
				WebPayInterface.notification('New Order', 'New Order Received'); //send mobile app notification when order is received
				
				if($('#noOrders').length == 1){
					$('#noOrders').remove();
				}
				
				var order = QueryStringToJSON(data);
				
				var pickup = order.pickup, destination = order.destination;
				
				for(i=0; i < order.pickup.length; i++) {
 
					pickup = pickup.replace('+', ' ');
					 
				}
				
				for(i=0; i < order.destination.length; i++) {
 
					destination = destination.replace('+', ' ');
					 
				}
				
				$('#orders').append(
					'<tr id="' + order.uid + '">' + 
					'<td style="padding: 0px;"><a onclick="setOrderId(\'' + order.uid + '\')" style="text-decoration: none; color: black;" href="#popupMenu" data-rel="popup" data-position-to="window"><div style="text-align: center; height: 100%; width: 100%;">' + ($('#orders tr').length + 1) + '</div></a></td>' +
					'<td style="padding: 0px;"><a onclick="setOrderId(\'' + order.uid + '\')" style="text-decoration: none; color: black;" href="#popupMenu" data-rel="popup" data-position-to="window"><div style="text-align: center; height: 100%; width: 100%;">' + order.name + '</div></a></td>' +
					'<td style="padding: 0px;"><a onclick="setOrderId(\'' + order.uid + '\')" style="text-decoration: none; color: black;" href="#popupMenu" data-rel="popup" data-position-to="window"><div style="text-align: center; height: 100%; width: 100%;">' + order.phone + '</div></a></td>' +
					'<td style="padding: 0px;"><a onclick="setOrderId(\'' + order.uid + '\')" style="text-decoration: none; color: black;" href="#popupMenu" data-rel="popup" data-position-to="window"><div style="text-align: center; height: 100%; width: 100%;">' + pickup + '</div></a></td>' +
					'<td style="padding: 0px;"><a onclick="setOrderId(\'' + order.uid + '\')" style="text-decoration: none; color: black;" href="#popupMenu" data-rel="popup" data-position-to="window"><div style="text-align: center; height: 100%; width: 100%;">' + destination + '</div></a></td>' +
					'<td style="padding: 0px;"><a onclick="setOrderId(\'' + order.uid + '\')" style="text-decoration: none; color: black;" href="#popupMenu" data-rel="popup" data-position-to="window"><div style="text-align: center; height: 100%; width: 100%; background-color: yellow;" class="status">Waiting</td>' +
					'</tr>'
				);
				
			});
			
			dispatch.on("disconnected", function () {
				console.log('Disconnected from Taxi Dispatch');
				$('#statusFooter').html('Disconnected from Taxi Dispatch');
				//alert('Disconnected from Taxi Dispatch');
		
		//}catch (error){			
				//console.log('Cannot connect to Taxi Dispatch Server\n\n Error: ' + error);	
				//$('#statusFooter').html('Cannot connect to Taxi Dispatch Server\n\n Error: ' + error);				
		//}
		});
	
		function sendWaitTime(){
	
			socket.emit('waitTime', {'waitTime' : $('#waitTime').val(), 'id': orderId});
			console.log('Wait time sent to OrderId: ' + orderId);
			$('#statusFooter').html('Wait time sent.');
			
			if($('#' + orderId).length){
				$('#' + orderId + ' .status').html('Dispatched').css('background-color', 'green').css('color', 'white');						
			}	
	
		}

		function sendArrivalNotification(){
			
			socket.emit('arrivalNotification', orderId);
		
		}
		
		function openWaitTime(){
			//alert('gotHere');
			$('#popupMenu').popup("close");
			setTimeout(function () {
				$("#waitTimeDiv").popup("open")
			}, 100);	
		}
		
		function cancelOrder(){
			//alert('gotHere');
			$('#popupMenu').popup("close");
			setTimeout(function () {
				$("#cancelConfirm").popup("open")
			}, 100);	
		}
	
	</script>
	
</head>
<body>
	<!-- Home Page 1 //-->
	<div data-role="page" id="home">
		<div data-role="header" data-position="fixed">
			<h1>White Rose Taxi</h1>
		</div>
		<div data-role="header" data-id="home">
			<div data-role="navbar">
				<ul>
					<li><a class="ui-btn-active ui-state-persist" href="#home">Home</a></li>
					<li><a href="#jobs">Jobs</a></li>
					<li><a href="#dispatch">Dispatch</a></li>					
					<li><a href="#vehicles">Vehicles</a></li>
				</ul>
			</div><!-- /navbar -->
		</div>
		<div data-role="main" class="ui-content">
			<div style="text-align: center;">
				<img style="border-radius: 10px;" src="https://cdn.shopify.com/s/files/1/1490/7900/t/3/assets/WhiteRoseTaxiLogo.png" />
				<h1>White Rose Dispatcher App</h1>
			</div>
		</div>	
		<div data-role="footer" data-type="footer">
			<span style="padding: 2px;"> &nbsp;© 2018 White Rose Taxi</span>
			<span id="statusFooter" style="text-align: right; font-size: 10px;"></span>
		</div>
	</div>
	
	<!-- jobs //-->
	
	<div data-role="page" id="jobs">
		<div data-role="header" data-position="fixed">
			<h1>White Rose Taxi</h1>
		</div>
		<div data-role="header" data-id="jobs">
			<div data-role="navbar">
				<ul>
					<li><a href="#home">Home</a></li>
					<li><a class="ui-btn-active ui-state-persist" href="#jobs">Jobs</a></li>
					<li><a href="#dispatch">Dispatch</a></li>					
					<li><a href="#vehicles">Vehicles</a></li>
				</ul>
			</div><!-- /navbar -->
		</div>
		<div data-role="main" class="ui-content">
			<div style="text-align: center;">
				<h1>Jobs</h1>

				<table data-role="table" id="jobsTable" data-column-btn-text="Filter" data-column-btn-theme="a" class="ui-body-d ui-shadow table-stripe ui-responsive"> <!-- data-mode="columntoggle" //--> 
				  <thead>
					<tr>
					<th style="text-align: center;" class="label" data-priority="6">
						#
					  </th>
					  <th style="text-align: center;" class="label" data-priority="5">
						Name
					  </th>
					<th style="text-align: center;" class="label" data-priority="1">
						Phone
					</th>
					<th style="text-align: center;" class="label" data-priority="2">
						Pickup
					</th>
					<th style="text-align: center;" class="label" data-priority="3">
						Drop Off
					</th>
					<th style="text-align: center;" class="label" data-priority="4">
						Status
					</th>
					</tr>
				  </thead>
				  <tbody id="orders">
					<tr id="noOrders">
						<td colspan="6" style="text-align: center;">There are currently no jobs available</td>
					</tr>
				  </tbody>
				</table>
				
				<!-- Popups for Wait time -->
				<div id="waitTimeDiv" data-role="popup" data-overlay-theme="a" style="padding: 20px;">
					<label for="waitTime"><h2>Wait time in minutes?</h2></label>
					<input type="range" name="waitTime" id="waitTime" value="30" min="0" max="120" data-theme="b" />
					<br />
					<a href="#" style="text-decoration: none;" data-rel="back"><button style="background-color: green; color: white;" onclick="sendWaitTime();" ><strong>Accept</strong></button></a>
					<a href="#" style="text-decoration: none;" data-rel="back"><button style="background-color: red; color: white;"><strong>Cancel</strong></button></a>
				</div>
				
				<!-- menu options //-->
				<div data-role="popup" id="popupMenu" data-theme="b">
				        <ul data-role="listview" data-inset="true" style="min-width:210px;">
				            <li data-role="list-divider">Choose an action</li>
				            <li><a href="#" onclick="openWaitTime();">Send Wait Time</a></li>
				            <li><a href="#" onclick="sendArrivalNotification();">Send Status Update Notification</a></li>
				            <li><a href="#">Taxi Menu Option</a></li>
				            <li><a href style="background-color: red; color: white;" onclick="cancelOrder();">Cancel Order</a></li>
				        </ul>
				</div>
				
				<!-- Cancel -->
				<div id="cancelConfirm" data-role="popup" data-overlay-theme="a" style="padding: 20px;">
					<label><h2>Are you sure you want to cancel?</h2></label>
					<br />
					<a href="#" style="text-decoration: none;" data-rel="back"><button style="background-color: green; color: white;" id="cancelConfirmButton"><strong>Accept</strong></button></a>
					<a href="#" style="text-decoration: none;" data-rel="back"><button style="background-color: red; color: white;"><strong>Cancel</strong></button></a>
				</div>

			</div>
		</div>	
		<div data-role="footer" data-type="footer">
			<span style="padding: 2px;"> &nbsp;© 2018 White Rose Taxi</span>
			<span id="statusFooter" style="text-align: right; font-size: 10px;"></span>
		</div>
	</div>
	
	<!-- dispatch //-->
	<div data-role="page" id="dispatch">
		<div data-role="header" data-position="fixed">
			<h1>White Rose Taxi</h1>
		</div>
		<div data-role="header" data-id="dispatch">
			<div data-role="navbar">
				<ul>
					<li><a href="#home">Home</a></li>					
					<li><a href="#jobs">Jobs</a></li>
					<li><a class="ui-btn-active ui-state-persist" href="#dispatch">Dispatch</a></li>
					<li><a href="#vehicles">Vehicles</a></li>
				</ul>
			</div><!-- /navbar -->
		</div>
		<div data-role="main" class="ui-content">
			<div style="text-align: center;">
				<img style="border-radius: 10px;" src="https://cdn.shopify.com/s/files/1/1490/7900/t/3/assets/WhiteRoseTaxiLogo.png" />
				<h1>Dispatch</h1>
			</div>
		</div>	
		<div data-role="footer" data-type="footer">
			<span style="padding: 2px;"> &nbsp;© 2018 White Rose Taxi</span>
			<span id="statusFooter" style="text-align: right; font-size: 10px;"></span>
		</div>
	</div>
	
	
	<!-- Vehicles //-->
	
	<div data-role="page" id="vehicles">
		<div data-role="header" data-position="fixed">
			<h1>White Rose Taxi</h1>
		</div>		<div data-role="header" data-id="vehicles">
			<div data-role="navbar">
				<ul>
					<li><a href="#home">Home</a></li>
					<li><a href="#jobs">Jobs</a></li>
					<li><a href="#dispatch">Dispatch</a></li>					
					<li><a class="ui-btn-active ui-state-persist" href="#vehicles">Vehicles</a></li>
				</ul>
			</div><!-- /navbar -->
		</div>
		<div data-role="main" class="ui-content">
			<div style="text-align: center;">
				<img style="border-radius: 10px;" src="https://cdn.shopify.com/s/files/1/1490/7900/t/3/assets/WhiteRoseTaxiLogo.png" />
				<h1>Vehicles</h1>
			</div>
		</div>	
		<div data-role="footer" data-type="footer">
			<span style="padding: 2px;"> &nbsp;© 2018 White Rose Taxi</span>
			<span id="statusFooter" style="text-align: right; font-size: 10px;"></span>
		</div>
	</div>
</body>
