<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Furniture and Mattresses</title>

		<meta http-equiv="imagetoolbar" content="no"/>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">

<link type="text/css" href="http://cdn.theconversionpros.com/bo-resources/images/bg/bg.css" rel="stylesheet" media="all"/>
<link type="text/css" href="http://cdn.theconversionpros.com/sl/assets/css/bg.css" rel="stylesheet" media="all"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
      crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:800italic,400,700' rel='stylesheet' type='text/css'>
<link href="http://cdn.theconversionpros.com/sl/assets/css/global.css?v=2016-08-25c" rel="stylesheet">
<link href="./styles2.css" rel="stylesheet" media="screen">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.4.1/jquery-migrate.min.js"></script>

<script src="http://cdn.theconversionpros.com/assets/js/jquery.tf.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="http://cdn.theconversionpros.com/sl/assets/js/jquery.tubular.js?v=2016-09-27"></script>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
<script src="http://cdn.theconversionpros.com/sl/assets/js/terabit.js?v=2017-05-19"></script>

<script src="http://cdn.theconversionpros.com/sl/assets/js/lander.js?v=2017-11-10"></script>


<link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" type="text/css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js" type="text/javascript"></script>
<link href='https://fonts.googleapis.com/css?family=sans-serif' rel='stylesheet' type='text/css'><link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet' type='text/css'><link href='https://fonts.googleapis.com/css?family=Comic+Sans+MS' rel='stylesheet' type='text/css'><link href='https://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>

<style>
	
</style>
<script>

function createCORSRequest(method, url){

    var xhr = new XMLHttpRequest();
	
    if ("withCredentials" in xhr){
        xhr.open(method, url, true);
    } else if (typeof XDomainRequest != "undefined"){
        xhr = new XDomainRequest();
        xhr.open(method, url);
    } else {
        xhr = null;
    }
	
    return xhr;
}

function submitForm(){

	var request = createCORSRequest("get", "https://script.google.com/macros/s/AKfycbxpEpQyws46it72vZnR9ekosIWDVWu9XvmtaFfSMfw2qcPf-Mg/exec");
	if (request){
		request.onload = function(){		
			//alert(request.responseText);
			//do something with request.responseText
		};
		request.send();
	}

}

$(document).ready(function () {
    $('#signupForm').on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            url : 'https://script.google.com/macros/s/AKfycbxpEpQyws46it72vZnR9ekosIWDVWu9XvmtaFfSMfw2qcPf-Mg/exec',
            type: "GET",
            data: $(this).serialize(),
            success: function (data) {
				 //$("#form_output").html(data);
            },
            error: function (jXHR, textStatus, errorThrown) {
                //alert(errorThrown);
            }
        });
		window.location.href = 'https://FurnitureAppOnline.com/pages/apply-now';
    });
});
</script>
	</head>
	<body class="bg-city1-1080">
			<div id="wrapper">

<div class="container-fluid lander bg-editable"><div id="1c941f05-aad4-4e3b-bfde-3cd6d4036488" class="sl-editor-widget"></div><div id="1127a7ce-3d10-4a1c-843b-86ce3f02e64d" class="sl-editor-widget"></div><div id="5cf71777-da61-4494-a5e6-95b92575b3fc" class="sl-editor-widget"></div><div id="f444a46b-44b7-4517-8815-cdeb38cf977c" class="sl-editor-widget"></div><div id="5d2b44e6-bec9-421f-aa8d-fa86d94922cc" class="sl-editor-widget"></div><div id="7803cb0c-5516-4c86-8c40-ef798e904cb5" class="sl-editor-widget"></div>

				<h1 class="tui-editable" style="font-size: 84px; line-height: 84px; font-family: Caveat; color: rgb(255, 79, 0); text-shadow: rgb(244, 234, 234) 1px 0px 0px;">TOP NOTCH FURNITURE! AFFORDABLE PRICE!</h1>
				<div class="tui-video video-container video-autoplay">
					
					<iframe width="100%" height="317" src="https://www.youtube.com/embed/oJ59rUe4Jvg?&autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>


				<div class="row">
					<div class="col-sm-6 ">
						<div class="bg-white">
							<h3 class="tui-editable" style="font-family: Caveat; color: rgb(16, 167, 47); font-size: 39px; line-height: 39px;">WORRY FREE PAYMENT PLAN!&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ONLY $0 DOWN! &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;NO CREDIT NEEDED!</h3>
							<hr>
							<ul class="features">
								<li><i class="fa fa-check"></i> <span class="tui-editable" style="color: rgb(244, 143, 8); font-size: 20px; line-height: 20px;">TOP NOTCH FURNITURE & MATTRESSES!</span></li>
								<li><i class="fa fa-check"></i> <span class="tui-editable" style="color: rgb(242, 154, 11); font-size: 20px; line-height: 20px;">NO HASSLE PAYMENT PLAN!<br></span></li>
								<li><i class="fa fa-check"></i> <span class="tui-editable" style="color: rgb(238, 153, 15); font-size: 21px; line-height: 21px;">ONLY $0 DOWN TO APPLY!</span></li>
								<li><i class="fa fa-check"></i> <span class="tui-editable" style="color: rgb(240, 164, 15); font-size: 22px; line-height: 22px;">ONLINE CATALOG!</span></li>
								<li><i class="fa fa-check"></i> <span class="tui-editable" style="color: rgb(238, 153, 15); font-size: 20px; line-height: 20px;">DELIVERED TO YOUR DOOR RITE AWAY!</span></li>
								<li><i class="fa fa-check"></i> <span class="tui-editable" style="color: rgb(244, 166, 15); font-size: 19px; line-height: 19px;">CUSTOMER SATISFACTION...EVERYTIME!!!</span></li>
								<li><i class="fa fa-check"></i> <span class="tui-editable" style="color: rgb(240, 163, 13); font-size: 26px; line-height: 26px;">SHOP ONLINE OR CONTACT&nbsp; 717-685-6333</span></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">

						<form class="form" name="signupForm" id="signupForm">
						
							<span class="tui-editable med-title" style="font-family: &quot;Comic Sans MS&quot;; font-size: 29px; line-height: 29px; background-color: rgb(4, 0, 0); color: rgb(238, 223, 223); text-shadow: rgb(13, 174, 18) 1px -1px 0px;">TAKE ADVANTAGE OF $$ NOTHING&nbsp; DOWN TODAY!!</span>

							<div class="tsl-field-containers">
								<div class="form-group col-md-12">
									<input name="firstName" type="text" id="firstName" size="45" placeholder="First Name" class="form-control" required>
								</div>
								<div class="form-group col-md-12">
									<input name="lastName" type="text" id="lastName" size="45" placeholder="Last Name" class="form-control">
								</div>
								<div class="form-group col-md-12">
									<input name="email" type="text" id="email" size="45" placeholder="Email" class="form-control">
								</div>
								<div class="form-group col-md-12">										
										<input name="phone" type="text" size="45" id="phone" placeholder="Mobile Phone Number" class="form-control" required>									
								</div>
								<div class="form-group col-md-12">										
										<input name="needs" type="text" col="45" rows="5" id="needs" placeholder="What are your furniture needs?" class="form-control" >									
								</div>
								
							</div>

							<button type="submit" onclick=""; class="btn input-block-level tui-editable btn-success" style="background-color: rgb(9, 7, 1); color: rgb(242, 232, 232); font-size: 31px; line-height: 31px; font-family: Alegreya;">APPLY HERE</button>
						</form>
						<div class="social-container"></div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="footer">
					<p class="privacy-statement tui-editable">We respect your privacy! Your personal information will never be shared or sold.</p>
					<div class="legal-container">
						<a href="https://www.furnitureapponline.com/pages/terms-of-service" class="legal-tos fancybox.iframe overlay tui-editable">Terms Of Service</a> -
						<a href="https://www.furnitureapponline.com/pages/privacy-policy" class="legal-pp fancybox.iframe overlay tui-editable">Privacy Policy</a>
					</div>
				</div>
			</div>
		<div id="background-css-code"><style>body { background-image: url(https://cdn.theconversionpros.com/sl/assets/images/bg/1080/720-pexels-photo-46072-large.jpeg.jpg) !important; } </style></div><span class="live"></span><span class="live"></span><span class="live"></span><span class="live"></span><span class="live"></span><span class="live"></span></div>
