
body { 
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body.bg-beach1-1080 {
	background-image: url(./bg-beach1-1080.jpg);
}

body.bg-beach1-720 {
	background-image: url(./bg-beach1-720.jpg);
}

body.bg-beach2-1080 {
	background-image: url(./bg-beach2-1080.jpg);
}

body.bg-beach2-720 {
	background-image: url(./bg-beach2-720.jpg);
}

body.bg-beach3-1080 {
	background-image: url(./bg-beach3-1080.jpg);
}

body.bg-beach3-720 {
	background-image: url(./bg-beach3-720.jpg);
}

body.bg-beach4-1080 {
	background-image: url(./bg-beach4-1080.jpg);
}

body.bg-beach4-720 {
	background-image: url(./bg-beach4-720.jpg);
}

body.bg-beach5-1080 {
	background-image: url(./bg-beach5-1080.jpg);
}

body.bg-beach5-720 {
	background-image: url(./bg-beach5-720.jpg);
}

body.bg-canoe1-1080 {
	background-image: url(./bg-canoe1-1080.jpg);
}

body.bg-canoe2-720 {
	background-image: url(./bg-canoe2-720.jpg);
}

body.bg-city1-1080 {
	background-image: url(./bg-city1-1080.jpg);
}

body.bg-city1-720 {
	background-image: url(./bg-city2-720.jpg);
}

body.bg-fireworks1-1080 {
	background-image: url(./bg-fireworks1-1080.jpg);
}

body.bg-fireworks1-720 {
	background-image: url(./bg-fireworks1-720.jpg);
}

body.bg-freedom1-1080 {
	background-image: url(./bg-freedom1-1080.jpg);
}

body.bg-freedom1-720 {
	background-image: url(./bg-freedom1-720.jpg);
}

body.bg-lake1-1080 {
	background-image: url(./bg-lake1-1080.jpg);
}

body.bg-lake1-720 {
	background-image: url(./bg-lake1-720.jpg);
}

body.bg-mountains1-1080 {
	background-image: url(./bg-mountains1-1080.jpg);
}

body.bg-mountains1-720 {
	background-image: url(./bg-mountains1-720.jpg);
}

body.bg-nature1-1080 {
	background-image: url(./bg-nature1-1080.jpg);
}

body.bg-nature1-720 {
	background-image: url(./bg-nature1-720.jpg);
}

body.bg-nature2-1080 {
	background-image: url(./bg-nature2-1080.jpg);
}

body.bg-nature2-720 {
	background-image: url(./bg-nature2-720.jpg);
}

body.bg-nature3-1080 {
	background-image: url(./bg-nature3-1080.jpg);
}

body.bg-nature3-720 {
	background-image: url(./bg-nature3-720.jpg);
}

body.bg-park1-1080 {
	background-image: url(./bg-park1-1080.jpg);
}

body.bg-park1-720 {
	background-image: url(./bg-park1-720.jpg);
}

body.bg-scene1-1080 {
	background-image: url(./bg-scene1-1080.jpg);
}

body.bg-scene1-720 {
	background-image: url(./bg-scene1-720.jpg);
}

body.bg-scene3-1080 {
	background-image: url(./bg-scene3-1080.jpg);
}

body.bg-people-720 {
	background-image: url(./bg-people-720.jpg);
}

body.bg-scene4-1080 {
	background-image: url(./bg-scene4-1080.jpg);
}


body.bg-phone1-1080 {
	background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(./bg-phone1-1080.jpg);
}